<header id="header">
        <nav class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Sistema de Gestión de Empleados</a>
                </div>				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#header">Home</a></li>
                        <li><a href="#altaEmpleados">Alta empleados</a></li>
                        <li><a href="#puestos">Alta puestos</a></li> 
                        <li><a href="#listaEmpleados">Lista</a></li>
                        <li><a href="#modificacionEmpleados">Modificar</a></li>
                        <li><a href="#organigrama">Organigrama</a></li>
                        <li><a href="#our-team">El equipo</a></li> 
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->		
</header><!--/header-->	

	<div class="slider">		
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">						
						<img src="images/img/7.jpg" class="img-responsive" alt=""> 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2><span>Cloud Development</span></h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
								<p>Seminario II</p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">								
								
							</div>
						</div>
				    </div>
			
				    <div class="item">
						<img src="images/img/6.jpg" class="img-responsive" alt=""> 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">								
								<h2>Trabajo Práctico de Curso</h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">								
								<p>Implementación de metodologías ágiles: SCRUM.</p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">								
								<form class="form-inline">
									
								</form>
							</div>
						</div>
				    </div> 
				    <div class="item">
						<img src="images/img/1.jpg" class="img-responsive" alt=""> 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2>Facultad de Ingeniería</h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
								<p>Universidad Católica de Córdoba</p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">								
								<form class="form-inline">
									
								</form>
							</div>
						</div>
				    </div> 
				</div>
				
				<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i> 
				</a>
				
				<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i> 
				</a>
			</div> <!--/#carousel-slider-->
		</div><!--/#about-slider-->
	</div><!--/#slider-->


<div class="default-page">
    
    <div class="main container clearfix">
        <div>
            <div  ng-controller="EmpleadoController">

                <section id="altaEmpleados" ng-controller="EmpleadoController">
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div class="panel-heading" style="background-color:#cccccc; overflow: auto; width:100%;">
                			<h2 class="title" align="center" styles="backgroundColor=black"> Alta de empleados </h2>
                	</div>
                	
                	<br>
                    <br>
                    
                	<table id="conCollapse">
                	    
                	<tr class="form-group">
                        <td><label for="nombreInput">Nombre: </label></td>
                        <td><input type="text" class="form-control" id="nombreInput" ng-model="empleado.nombre" placeholder="Nombre"></td>
                    </tr>
                    
                    <tr class="form-group">
                        <td><label for="apellidoInput">Apellido: </label></td>
                        <td><input type="text" class="form-control" id="apellidoInput" ng-model="empleado.apellido" placeholder="Apellido"></td>
                    </tr>
                    
                    <tr class="form-group">
                         <td><label >Puesto: </label></td>
                         <td><select class="form-control" ng-model="empleado.puesto" ng-options="puesto.nombrePuesto as puesto.nombrePuesto for puesto in puestos">
                                <option>jhjjh</option>
                            </select>
                         </td>
                    </tr>
                    
                    <tr class="form-group">
                        <td><label >Jefe: </label></td>
                        <td><select class="form-control" ng-model="empleado.jefe" ng-options="empleado.id as empleado.nombre for empleado in empleados">
                                <option >Chuck Norris</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr class="center">
                        <td colspan='2' align="center">
                            <button class="btn btn-default" ng-click="altaEmpleado()">Agregar</button>
                        </td>
                    </tr>
                	    
                	</table>
                    
                </section>
                <div  ng-controller="EmpleadoController">
                
                    
                <section id="puestos">
                    
                    <div class="panel-heading" style="background-color:#cccccc; overflow: auto; width:100%;">
                			<h2 class="title" align="center" styles="backgroundColor=black"> Alta de puestos </h2>
                	</div>
                	
                    
                	<table id="conCollapse">
                	    
                	<tr class="form-group">
                        <td><label for="nombreInput">Puesto: </label></td>
                        <td><input type="text" class="form-control" id="puestoInput" ng-model="puesto.nombrePuesto" placeholder="Puesto"></td>
                    </tr>
                    
                     <tr class="center">
                        <td colspan='2' align="center">
                            <button class="btn btn-default" ng-click="altaPuesto()">Agregar</button>
                        </td>
                    </tr>
                	    
                	</table>
                </section>
                
                <section id="listarPuestos">
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div class="panel-heading" style="background-color:#cccccc; overflow: auto;">
                			<h2 class="title" align="center" styles="backgroundColor=black"> Lista de puestos </h2>
                	</div>
                
                    <br>
                    <br>
                
                    <div>
                        <table id="conCollapse">
                            <thead bgcolor="#DCDCDC">
								<tr>
									<th>Puesto</th>
									<th>Acción</th>
								</tr>
							</thead>
                            <tr ng-repeat="puesto in puestos" class="ng-scope">
                                        <td>{{puesto.nombrePuesto}}</td>
                                        <td><button class="btn btn-default" ng-click="bajaPuesto(puesto.id)">Eliminar</button></td>
                                        
                            </tr>
                        </table>
                    </div>
                    
                </section>
                </div>
                <div>
                
                <section id="listaEmpleados">
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div class="panel-heading" style="background-color:#cccccc; overflow: auto;">
                			<h2 class="title" align="center" styles="backgroundColor=black"> Lista de empleados </h2>
                	</div>
                
                    <br>
                    <br>
                
                    <div>
                        <table id="conCollapse">
                            <thead bgcolor="#DCDCDC">
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Puesto</th>
									<th>Acción</th>
								</tr>
							</thead>
                            <tr ng-repeat="empleado in empleados">
                                        <td><a contentEditable="true" editable-text="empleado.nombre">{{empleado.nombre || 'empty'}}</a></td>
                                        <td>{{empleado.apellido}}</td> 
                                        <td>{{empleado.puesto}}</td>
                                    <td><button class="btn btn-default" ng-click="bajaEmpleado(empleado.id)">Eliminar</button></td>
                            </tr>
                        </table>
                    </div>
                    
                </section>
                
                <section id="modificacionEmpleados">
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div class="panel-heading" style="background-color:#cccccc; overflow: auto; width:100%;">
                			<h2 class="title" align="center" styles="backgroundColor=black"> Modificación de empleados </h2>
                	</div>
                
                	<br>
                    <br>
                    
                	<table id="conCollapse">
                	    
                	<tr class="form-group">
                        <td><label >ID: </label></td>
                        <td><select class="form-control" ng-model="empleado.id" ng-options="empleado.id as empleado.id for empleado in empleados">
                                <option>id</option>
                            </select>
                        </td>
                    </tr>
                	    
                	<tr class="form-group">
                        <td><label for="nombreInput">Nuevo nombre: </label></td>
                        <td><input type="text" class="form-control" id="nombreInput" ng-model="empleado.nombre" placeholder="Nombre"></td>
                    </tr>
                    
                    <tr class="form-group">
                        <td><label for="apellidoInput">Nuevo apellido: </label></td>
                        <td><input type="text" class="form-control" id="apellidoInput" ng-model="empleado.apellido" placeholder="Apellido"></td>
                    </tr>
                    
                    <tr class="form-group">
                         <td><label >Nuevo puesto: </label></td>
                         <td><select class="form-control" ng-model="empleado.puesto" ng-options="puesto.id as puesto.nombrePuesto for puesto in puestos">
                                <option>puesto</option>
                            </select>
                         </td>
                    </tr>
                    </tr>
                    
                    <tr class="form-group">
                        <td><label >Nuevo jefe: </label></td>
                        <td><select class="form-control" ng-model="empleado.jefe" ng-options="empleado.id as empleado.nombre for empleado in empleados">
                                <option >Chuck Norris</option>
                            </select>
                        </td>
                    </tr>
                    
                    <tr class="center">
                        <td colspan='2' align="center">
                            <button class="btn btn-default" ng-click="modificarEmpleado(empleado.id)">Modificar</button>
                        </td>
                    </tr>
                	    
                	</table>
                    
                </section>

                
                <section id="organigrama">
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div class="panel-heading" style="background-color:#cccccc; overflow: auto;">
                			<h2 class="title" align="center" styles="backgroundColor=black"> Organigrama de la empresa </h2>
                	</div>
                
                    <div>
                        <div id="orgChart">
                            
                            
                        </div>
                    
                    </div>
                    
                    
                </section>
                
                
                <section id="our-team">
                    
                    		<div class="container">
                    			<div class="text-center">
                    				<h3>El equipo</h3>
                    			</div>
                    			
                    			<div class="row">
                    				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                    					<div class="text-center">
                    						<img src="images/img/imgFranF.jpg" alt="">
                    						<h2>Francisco Fischer</h2>
                    						<h4>Scrum Master & Team Member</h4>
                    						<p>Ingeniería de Sistemas - UCC</p>
                    					</div>
                    				</div>
                    				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
                    					<div class="text-center">
                    						<img src="images/img/imgCaro.jpg" alt="">
                    						<h2>Carolina Bottino</h2>
                    						<h4>Scrum Master & Team Member</h4>
                    						<p>Ingeniería de Sistemas - UCC</p>
                    					</div>
                    				</div>
                    				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                    					<div class="text-center">
                    						<img src="images/img/imgFranR.jpg" alt="">
                    						<h2>Francisco Rassetto</h2>
                    						<h4>Product Owner & Team Member</h4>
                    						<p>Ingeniería de Sistemas - UCC</p>
                    					</div>
                    				</div>	
                    			</div>
                    	</div><!--/#our-team-->
                </section>

    </div>
</div>


<footer>
	<section>
		<div class="col-lg-12">
			<h3> Copyright © Sistema de Gestión de Empleados - 2015</h3>
		</div>
	</section>
</footer>
